* {
    box-sizing: border-box;
  }
  body, html {
    height: 100%;
  }
.grid
{
  position: relative;
    width: 70vw;
    height: 70vh;
	margin: 0 auto;
  background-color: #34495e;
  border: 6px solid #2c3e50;
  border-radius: 10px;
	display: grid;
    overflow: hidden;
    grid-template:repeat(3,minmax(50px, 1fr)) / repeat(3, minmax(50px, 1fr));
}
.square
{
  border: 0.5rem solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #34495e;
  overflow: hidden;
  height:100%;
  width:100%;
}
.square:focus{
    text-decoration: none;
}
.grid-info{
    margin: 10px;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    margin-top:1rem;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .list{
    display: block;
    position: absolute;
    background-color:darkorchid;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    justify-content: center;
    align-items: center;
    margin-top:0;
    text-decoration: none;
  }
  .entry{
      height:100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .entry button{
      border-radius: 0.3rem;
      cursor: pointer;
      border:none;
      background-color:rebeccapurple;
      font-size: 1.5em;
      padding: 3% 6%;
      margin: 0 4%;  
  }
  .info{
    display: inline;
    margin-right:1rem;
    background-color:rgb(224, 160, 107);
    color:black;
    text-align: center;
    border: none;
    font-size: 1rem;
    padding: 1rem;
    margin-top:1rem;
  }
.restart{
    /* position: absolute; */
    margin:0 1rem;
    background-color: #4CAF50;
    color: white;
    margin-top:1rem;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }
  .playAgain{
    position: relative;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    left:45%;
    top:2rem;
    font-size: 1rem;
    padding: 1rem;
    margin-top:1rem;
  }
 .info2{
    width:140px;
    position: relative;
    background-color: rgb(224, 160, 107);
    color: black;
    font-weight: bold;
    text-align: center;
    border: none;
    left:45%;
    top:1rem;
    font-size: 1rem;
    padding: 1rem;
    margin-top:1rem;
  }
  .displayName{
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    padding: 1rem;
  }
  .form{
    text-decoration: none;
    font-size: 1rem;
    font-family: Helvetica;
    font-weight: bold;
     color:crimson;
     background-color: darkkhaki;
  }
  .nameDisplay{
    position: relative;
    width:50%;
    text-align: center;
    background-color:lightblue;
    padding:0 0 1rem 0;
    border: 0.5rem solid #2c3e50;
    right:-25%;
    top:5rem;
  }
  .info >.infoname,.info2>.infoname{
    background:linear-gradient(lightgreen,yellow);
    font-weight: bold;
    font-size:1rem;
    color:firebrick;
    margin-right:4px;
    margin-left:4px;
    padding:0 4px;
  }
  html { 
    background: url(tic.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }