* {
    box-sizing: border-box;
  }

.grid
{
    width: 60vw;
    height: 60vh;
	margin: 0 auto;
  background-color: #34495e;
  border: 6px solid #2c3e50;
  border-radius: 10px;
	display: grid;
    overflow: hidden;
    grid-template:repeat(3,minmax(50px, 1fr)) / repeat(3, minmax(50px, 1fr));
}
.square
{
  border: 0.5rem solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #34495e;
  overflow: hidden;
  height:100%;
  width:100%;
}
.square:focus{
    text-decoration: none;
}
.grid-info{
    margin: 10px;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    margin-top:1rem;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .list{
    display: block;
    position: absolute;
    background-color:darkorchid;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    justify-content: center;
    align-items: center;
    margin-top:0;
    text-decoration: none;
  }
  .entry{
      height:100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .entry button{
      border-radius: 0.3rem;
      cursor: pointer;
      border:none;
      background-color:rebeccapurple;
      font-size: 3.4em;
      padding: 3% 6%;
      margin: 0 4%;  
  }